{% extends "base.html" %}
{% block main %}
	<p>Next we'll have you login using FB but you can choose and experiment with what permisions to ask for (find the list of permissions <a href="http://developers.facebook.com/docs/authentication/permissions/">here</a>):</p>
	
	<div class="permissions">
		<h2>My Permisions</h2>
		<ul class="permissions" id="my_perms"></ul>
	</div>

	<div class="permissions">
		<h2>My Friend Permissions</h2>
		<ul class="permissions" id="friend_perms"></ul>
	</div>

	<div class="permissions">
		<h2>Write Permissions</h2>
		<ul class="permissions" id="write_perms"></ul>
	</div>

	<div id="loginlink">
		<a id="logmein" href="#">Click to Login!</a> - 
		<a id="playwiththeapi" href="/apiplayground/">Next - Let's play with the API<a>
	</div>

{% endblock main %}

{% block local_script %}
	<script>
		var my_perms = [
			"user_about_me",
			"user_activities",
			"user_birthday",
			"birthday_date",
			"user_education_history",
			"user_events",
			"user_groups",
			"user_hometown",
			"user_interests",
			"user_likes",
			"user_location",
			"user_notes",
			"user_online_presence",
			"user_photo_video_tags",
			"user_photos",
			"user_relationships",
			"user_relationship_details",
			"user_religion_politics",
			"user_status",
			"user_videos",
			"user_website",
			"user_work_history",
			"read_friendlists",
			"read_insights",
			"read_mailbox",
			"read_requests",
			"read_stream",
			"xmpp_login",
			"ads_management",
			"user_checkins"
		];

		var friend_perms = [
			"friends_about_me",
			"friends_activities",
			"friends_birthday",
			"friends_education_history",
			"friends_events",
			"friends_groups",
			"friends_hometown",
			"friends_interests",
			"friends_likes",
			"friends_location",
			"friends_notes",
			"friends_online_presence",
			"friends_photo_video_tags",
			"friends_photos",
			"friends_relationships",
			"friends_relationship_details",
			"friends_religion_politics",
			"friends_status",
			"friends_videos",
			"friends_website",
			"friends_work_history",
			"friends_checkins",
			"manage_friendlists"
		];

		var write_perms = [
			"publish_stream",	
			"rsvp_event",
			"sms",
			"offline_access",
			"publish_checkins"
		];

		function make_option_list(options, target) {
			var html = "";
			$.each(options, function(i,val){
				html += "<li><input class='permcheck' type='checkbox' value='"+val+"'>&nbsp;"+val+"</li>";
			});
			$(target).html(html);
		};

		$(document).ready(function(){
			make_option_list(my_perms, "#my_perms");
			make_option_list(friend_perms, "#friend_perms");
			make_option_list(write_perms, "#write_perms");

			$("#logmein").click(function(){
				var permlist = [];
				$(".permcheck:checked").each(function(i,val) {
					permlist.push(val.value);
				});

				FB.login(function(response) {
				  	if (response.session) {
				    	if (response.perms) {
				      		console.log(response.perms);
				      		$("#playwiththeapi").fadeIn();
				    	} else {
				      		console.log("too bad");
				    	}
				  	} else {
				    	console.log("really too bad");
				  	}
				}, {perms:permlist.join(',')});

				return false;
			});
		});
	</script>
{% endblock local_script %}